<!DOCTYPE html>
<html lang="en">
<link href="css.css" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>

    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#news">Log</a>
      <a href="#news">Attendance</a>
<!--      <a href="#contact">Reports</a>-->
      <div class="topnav-right">
        <a href="#about">Profile</a>
      </div>
    </div>

    <div class="header_page">

      <h1 class="header_page_title">Facial recognicion attendance</h1>

      <img src="resources/2.JPG" class="Robot">

      <div style="top:-60%;left:30%;position: relative;">
          <p style="color: whitesmoke;font-family: century ghotic;font-size: 20px;">
              <br>This application is used for logging the timestamps and data for the user, with the security of facial recognition.
              <br>
              <br>You can use the Logger to save the data and the time for your attendance.
              <br>With the help of facial recognition software it will recognize your name after your face and log the info without user involvement.
              <br>By accesing the Attendance tab you can see in tabelar format your history regarding the attendance.

          </p>
      </div>

      <p style="color: whitesmoke;font-family: century ghotic;font-size: 20px;bottom: 0;right:2%;position: absolute;">Contact info.: birsanvlad@gmail.com</p>


    </div>



</body>
</html>