<!doctype html>
<html lang="en">
<link href="../static/css.css" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>

    <div class="topnav" id="myLinks">
      <a class="active" href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('log') }}">Log</a>
      <a href="{{ url_for('table') }}">Attendance</a>
      <div class="topnav-right">
        <a href="{{ url_for('profile') }}">Profile</a>
      </div>
    </div>

    <div class="header_page">

      <h1 class="header_page_title">Facial recognicion attendance</h1>

      <img src="../static/2.JPG" class="Robot">

      <div style="top:-52%;left:30%;position: relative;">
          <p style="color: whitesmoke;font-family: century ghotic;font-size: 20px;">
              <br>This application is used for logging the timestamps and data for the user, with the security of facial recognition.
              <br>
              <br>You can use the Logger to save the data and the time for your attendance.
              <br>With the help of facial recognition software it will recognize your name after your face and log the info without user involvement.
              <br>By accesing the Attendance tab you can see in tabelar format your history regarding the attendance.

          </p>
      </div>

      <p style="color: whitesmoke;font-family: century ghotic;font-size: 20px;bottom: 0;right:2%;position: absolute;">Contact info.: birsanvlad@gmail.com</p>


    </div>


</body>

</html>