<!DOCTYPE html>
<html lang="en">
<link href="../static/css.css" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="topnav" id="myLinks">
      <a href="{{ url_for('home') }}">Home</a>
      <a class="active" href="{{ url_for('log') }}">Log</a>
      <a href="{{ url_for('table') }}">Attendance</a>
      <div class="topnav-right">
        <a href="{{ url_for('profile') }}">Profile</a>
      </div>
    </div>

    <div class="header_page">

        <h1 class="header_page_title">Facial recognition based log.</h1>

        <br>

        <div id="screenshot" style="text-align:center;">
          <video class="videostream" autoplay></video>
          <img id="screenshot-img" >
          <p><button class="capture-button">Capture video</button>
          <button id="screenshot-button" disabled>Take screenshot</button>
          <button id="stop-button">Stop</button>
          <button id="send-picture">Log</button></p>
        </div>

        <p style="color: whitesmoke;font-family: century ghotic;font-size: 20px;bottom: 5%;position: absolute;">Follow the buttons for the steps.</p>
        <p style="color: whitesmoke;font-family: century ghotic;font-size: 20px;bottom: 0%;position: absolute;">*Please note to take a clear picture.</p>

    </div>

    <script src="../static/cameraPic.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</body>


</html>