<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="../static/css.css" rel="stylesheet" type="text/css">
<title>LogIn</title>
</head>

<body>

	<div class="header">
		<img src="../static/avatar.png" class ="Logo" width="100px">
		<h1>LogIn Here.</h1>

		<form action = "http://localhost:5000/login" method = "POST">
			<input name="inputName" type="text" placeholder="Enter Username"><br>
			<input name="inputPassword" type="password" placeholder="Enter Password"><br>
			<input type="submit" value="Login"><br>
		</form>

		<br>
		<a class="Link" style="float: right" href="{{ url_for('register') }}"> Register Here. </a>
		<br>

	</div>

</body>

</html>
